# Created by .ignore support plugin (hsz.mobi)
### Composer template
composer.phar
vendor/
wiki/vendor
wiki/templates_c
wiki/cache
node_modules
.idea
webhostn_manage.sql

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock


