ul li a, ul li a:hover {
  text-decoration: none;
  cursor: pointer
}

#noti_Button, #notifications, h3 {
  background: #FFF
}

h3, ul {
  display: block;
  margin: 0
}

ul {
  background: #45619D;
  list-style: none;
  padding: 12px 10px;
  height: 21px
}

ul li {
  float: left;
  font: 13px helvetica;
  font-weight: 700;
  margin: 3px 0
}

ul li a {
  color: #FFF;
  padding: 6px 15px
}

ul li a:hover {
  background: #425B90
}

#noti_Container {
  position: relative
}

#noti_Button {
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin: -3px 10px 0;
  cursor: pointer
}

#noti_Counter {
  display: block;
  position: absolute;
  background: #E1141E;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  padding: 1px 3px;
  margin: -8px 0 0 25px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  z-index: 1
}

.seeAll, h3 {
  padding: 8px
}

#notifications {
  display: none;
  width: 430px;
  position: absolute;
  top: 30px;
  left: 0;
  border: 1px solid rgba(100, 100, 100, .2);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .2);
  z-index: 0
}

#notifications:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  color: transparent;
  border: 10px solid #CCC;
  border-color: transparent transparent #FFF;
  margin-top: -20px;
  margin-left: 10px
}

h3 {
  color: #333;
  font: 13px helvetica;
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  border-bottom: solid 1px rgba(100, 100, 100, .3)
}

.seeAll {
  background: #F6F7F8;
  font-size: 12px;
  font-weight: 700;
  border-top: solid 1px rgba(100, 100, 100, .3);
  text-align: center
}

.seeAll a {
  color: #3b5998
}

.seeAll a:hover {
  background: #F6F7F8;
  color: #3b5998;
  text-decoration: underline;
}

.notification_tile {
  padding: 10px;
  border-bottom: solid 1px #F0F0F0
}

.notification_tile span {
  float: right;
}

#tile_wrapper {
  height: 300px;
  overflow: auto;
}