.clearfix:after,
body > div:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
html[xmlns] .clearfix,
html[xmlns] body > div {
    display: block;
}
 
* html .clearfix,
* html body > div {
    height: 1%;
}

